.dates {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;


    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;

    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;

    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lightblue; /* Firefox */
    column-rule-color: lightblue;

	-webkit-column-width: 100px; /* Chrome, Safari, Opera */
    -moz-column-width: 100px; /* Firefox */
    column-width: 100px;
}

#datepicker_return {
	min-width: 285px;
    margin-left:10px;
    width:auto;
    overflow:hidden;
	border-radius: 25px;

}

#datepicker_dep {
	min-width: 285px;
    margin-left:27px;
    width:auto;
    overflow:hidden;
    border-radius: 25px;

}

#ProbabilityDate {

    resize: horizontal;
	width: 200px;
	position: relative; 
	right: -230px; 
	bottom: -5px; 
	border-radius: 25px;


}

#From_Location_span{
    resize: horizontal;
	width: 30px;
	position: relative; 
	right: 0px; 
	bottom: 0px; 
	border: 3px ;
    border-top-left-radius: 10em;
}

#From_Location {
    resize: horizontal;
	width: 260px;
	position: relative; 
	right: 0px; 
	bottom: 0px; 
	border: 3px ;
}

#To_Location_span{
    resize: horizontal;
	width: 35px;
	position: relative; 
	right: -300px; 
	bottom: 0px; 
	border: 3px ;
    border-top-right-radius: 10em;

}

#To_Location {
    resize: horizontal;
	width: 285px;
	position: relative; 
	right: 18px; 
	bottom: 0px;
	border: 3px ;

}

#search {
    resize: horizontal;
	width: 174px;
	position: relative; 
	right: 0px; 
	bottom: -7px;
	border: 3px ;
	border-radius: 25px;

}